# Klucze API - uzupełnij swoimi danymi
# Klucz API OpenAI - potrzebny do generowania słówek i konwersji tekstu na mowę
OPENAI_API_KEY=sk-proj-your-openai-api-key-here

# DigitalOcean Spaces - potrzebny do przechowywania plików Word i historii słówek
DO_SPACES_ENDPOINT=XXXX.digitaloceanspaces.com  #zamiast XXXX wpisz odpowiedni region, np. sfo3, nyc3, itp.
DO_SPACES_REGION=XXXX   #zamiast XXXX wpisz odpowiedni region, np. sfo3, nyc3, itp.
DO_SPACES_BUCKET=your-bucket-name
DO_SPACES_FOLDER=english words
DO_SPACES_KEY=your-access-key
DO_SPACES_SECRET=your-secret-key
